<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import { useAuthStore } from '@/stores/auth.store';

const authStore = useAuthStore();

const loginForm = ref({
  password: '',
  provider: '',
  username: '',
});

const onSubmit = async (data) => {
  const { username, password, provider } = data;
  await authStore.login(username, password, provider);
};

const providers = computed(() => authStore.providers);

const siteTitle = import.meta.env.VITE_SITE_TITLE;

onMounted(() => {
  authStore.fetchProviders().then(() => {
    const provider = authStore.providers.find((prov) => prov.value);
    loginForm.value.provider = provider?.value || '';
  });
});
</script>

<template>
  <div class="mt-auto mx-auto">
    <AccountLoginForm
      v-model="loginForm"
      :title="$t('account.login.title', { siteTitle })"
      :providers="providers"
      @on-submit="onSubmit(loginForm)"
    />
  </div>
</template>
