<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import { CategoryRepository } from '@/stores/category.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 25;

const searchForm = ref({
  searchQuery: '',
});

const results = ref([]);
const categories = computed(() =>
  useRepo(CategoryRepository)
    .where((item) => results.value.includes(item.codename))
    .orderBy((category) => category.name.toLowerCase(), 'asc')
    .get(),
);

const onReset = () => {
  searchForm.value.searchQuery = '';
};

const onSubmit = () => {
  results.value = [];
  useRepo(CategoryRepository)
    .fetchAll({
      ...searchForm.value,
      limit: pageSize,
    })
    .then((items) => {
      results.value = items;
    });
};

const onLoadMore = () => {
  useRepo(CategoryRepository)
    .fetchAll({
      ...searchForm.value,
      limit: pageSize,
      offset: categories.value.length,
    })
    .then((items) => {
      results.value.push(...items);
    });
};

onMounted(() => {
  onSubmit();
});
</script>

<template>
  <CategorySearchForm v-model="searchForm" class="pb-1" @on-submit="onSubmit" @on-reset="onReset" />

  <ul class="list-group list-group-flush">
    <router-link
      v-for="category in categories"
      :key="category.codename"
      :to="{
        name: 'categories-item',
        params: {
          codename: category.codename,
        },
      }"
      class="list-group-item list-group-item-action"
    >
      <div class="row g-0">
        <h5 class="mb-1 col-12 col-md-10 text-truncate">
          {{ category.name }}
        </h5>
        <small class="col-12 col-md-2 text-end text-truncate">{{ category.codename }}</small>
      </div>
    </router-link>
  </ul>

  <ul class="list-group list-group-flush">
    <button type="button" class="btn btn-secondary w-100" @click="onLoadMore">
      <font-awesome-icon icon="fa-solid fa-angle-down" />
    </button>
  </ul>
</template>
