<template>
  <div class="container d-flex flex-column">
    <div class="row g-0">
      <div class="col offset-1 py-4 text-center">
        <h4>{{ $t('categoriesDashboard.title') }}</h4>
        <span v-if="$route.name === 'categories-list'">Dashboard</span>
        <span v-else-if="$route.name === 'categories-add'">Add new category</span>
      </div>

      <div class="col-1 m-auto">
        <router-link
          v-if="$route.name != 'categories-add'"
          :to="{
            name: 'categories-add',
          }"
        >
          <font-awesome-icon icon="fa-solid fa-plus" size="2xl" />
        </router-link>
      </div>
    </div>

    <RouterView />
  </div>
</template>
