<script setup lang="ts">
import { CategoryRepository } from '@/stores/category.repo';
import { ref } from 'vue';
import { useRepo } from 'pinia-orm';

const categoryForm = ref({
  codename: '',
  name: '',
});

const onSubmit = (data) => {
  useRepo(CategoryRepository).pushCategory(data);
};
</script>

<template>
  <CategoryForm v-model="categoryForm" @on-submit="onSubmit(categoryForm)" />
</template>
