<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { CategoryRepository } from '@/stores/category.repo';
import { QuirkRepository } from '@/stores/quirk.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 25;

const searchForm = ref({
  searchQuery: '',
});

const props = defineProps({
  codename: {
    required: true,
    type: String,
  },
});

const results = ref([]);
const quirks = computed(() =>
  useRepo(QuirkRepository)
    .where((item) => results.value.includes(item.pk))
    .orderBy((quirk) => quirk.name.toLowerCase(), 'asc')
    .get(),
);

const onReset = () => {
  searchForm.value.searchQuery = '';
};

const onSubmit = () => {
  useRepo(CategoryRepository)
    .fetchCategoryQuirks(props.codename, {
      ...searchForm.value,
      limit: pageSize,
    })
    .then((items) => {
      results.value = items;
    });
};

const onLoadMore = () => {
  useRepo(CategoryRepository)
    .fetchCategoryQuirks(props.codename, {
      ...searchForm.value,
      limit: pageSize,
      offset: quirks.value.length,
    })
    .then((items) => {
      results.value.push(...items);
    });
};

watch(
  () => props.codename,
  () => {
    onSubmit();
  },
  { immediate: true },
);
</script>

<template>
  <QuirkSearchForm v-model="searchForm" class="pb-1" @on-submit="onSubmit" @on-reset="onReset" />

  <ul class="list-group list-group-flush">
    <div v-for="quirk in quirks" :key="quirk.pk" class="list-group-item">
      <div class="row g-0">
        <h5 class="mb-1 col-12 col-md-10 text-truncate">
          {{ quirk.name }}
        </h5>
        <small class="col-12 col-md-2 text-end text-truncate">{{ quirk.codename }}</small>
      </div>
    </div>
  </ul>

  <ul class="list-group list-group-flush">
    <button type="button" class="btn btn-secondary w-100" @click="onLoadMore">
      <font-awesome-icon icon="fa-solid fa-angle-down" />
    </button>
  </ul>
</template>
