<script setup lang="ts">
import { computed, watch } from 'vue';
import { ExecutionRepository } from '@/stores/execution.repo';
import { marked } from 'marked';
import { useRepo } from 'pinia-orm';

const props = defineProps({
  id: {
    required: true,
    type: String,
  },
});

const execution = computed(() => useRepo(ExecutionRepository).where('id', props.id).first());

watch(
  () => props.id,
  (newValue) => {
    useRepo(ExecutionRepository).fetchExecution(newValue);
  },
  { immediate: true },
);
</script>

<template>
  <div v-if="execution">
    <div class="container">
      <div class="row g-0">
        <div class="col">
          <!-- eslint-disable vue/no-v-html -->
          <h4 class="p-4 text-center" v-html="marked.parse(execution.name)" />
          <small class="text-center">{{ execution.id }}</small>
        </div>
      </div>

      <div class="row g-0">
        <small class="col text-truncate">Started at {{ execution.startedAt }}</small>
        <small v-if="execution.finishedAt" class="col text-truncate"
          >Finished at {{ execution.finishedAt }}</small
        >
      </div>

      <div class="row g-0">
        <p>{{ $t(`commons.execution.status.${execution.status}`) }}</p>
        <p class="mb-1">{{ execution.description }}</p>
      </div>

      <div class="row g-0">
        <div class="col text-center mb-3">
          <nav class="nav nav-underline nav-justified flex-nowrap overflow-x-scroll">
            <router-link
              class="nav-link"
              :class="[$route.name === 'executions-item-tasks' ? 'active' : '']"
              :to="{
                name: 'executions-item-tasks',
              }"
              >{{ $t('executionsDashboard.items.tabs.tasks') }}</router-link
            >
            <router-link
              class="nav-link"
              :class="[$route.name === 'executions-item-summary' ? 'active' : '']"
              :to="{
                name: 'executions-item-summary',
              }"
              >{{ $t('executionsDashboard.items.tabs.summary') }}</router-link
            >
          </nav>
        </div>
      </div>

      <div class="row g-0">
        <div class="col">
          <RouterView />
        </div>
      </div>
    </div>
  </div>
  <div v-else class="mt-auto mx-auto">
    <legend class="text-center">
      <font-awesome-icon icon="fa-solid fa-file-circle-question" class="me-2" size="2xl" />
      {{ $t('navigation.notFound') }}
    </legend>
  </div>
</template>
