<script setup lang="ts">
import { computed, onMounted } from 'vue';
import { TaskRepository } from '@/stores/task.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 1000;

const props = defineProps({
  id: {
    required: true,
    type: String,
  },
});

const groupByMonth = function groupByMonth(arr, prop) {
  return arr.reduce(function reduce(groups, item) {
    const value = item[prop];

    const monthOffset = 1;
    const numLen = 2;

    const year = value.getFullYear().toString();
    const month = (value.getMonth() + monthOffset).toString().padStart(numLen, '0');
    const day = value.getDate().toString().padStart(numLen, '0');

    const name = `${year}/${month}/${day}`;
    // eslint-disable-next-line no-multi-assign
    const group = (groups[name] ||= []);

    group.push(item);
    return groups;
  }, {});
};

const tasks = computed(() =>
  useRepo(TaskRepository)
    .where('executionId', props.id)
    .orderBy((task) => task.startedAt.toISOString(), 'desc')
    .limit(pageSize)
    .get(),
);

const fmtDate = function fmtDate(dateObj, opts) {
  const options = opts || {
    day: 'numeric',
    hour: 'numeric',
    hour12: false,
    minute: 'numeric',
    month: 'short',
    second: 'numeric',
    year: 'numeric',
  };
  return Intl.DateTimeFormat('es', options).format(dateObj);
};

onMounted(() => {
  useRepo(TaskRepository).fetchExecutionTasks(props.id, { limit: pageSize });
});
</script>

<template>
  <div class="border-start border-secondary border-opacity-25 border-4">
    <template
      v-for="[dKey, dTasks] in Object.entries(groupByMonth(tasks, 'startedAt'))"
      :key="dKey"
    >
      <div class="py-2 fw-semibold bg-secondary bg-opacity-25 text-center">
        {{ fmtDate(Date.parse(dKey), { dateStyle: 'long' }) }}
      </div>

      <ul class="list-group list-group-flush">
        <li
          v-for="task in dTasks"
          :key="task.id"
          class="list-group-item position-relative"
          :task="task"
        >
          <div class="fst-italic text-body-secondary">{{ fmtDate(task.startedAt) }}</div>
          <div class="container-fluid">
            <div class="row g-0">
              <p class="mb-1 col-12 col-md-10 text-truncate fw-bold">
                <font-awesome-icon icon="fa-solid fa-pen-to-square" />
                {{ task.name }}
              </p>
              <small class="col-12 col-md-2 text-end text-truncate">{{ task.id }}</small>
            </div>
            <div class="row g-0">
              <small class="col text-start text-truncate">Started at {{ task.startedAt }}</small>
              <small v-if="task.finishedAt" class="col text-end text-truncate"
                >Finished at {{ task.finishedAt }}</small
              >
            </div>
            <div class="row g-0">
              <small>{{ $t(`commons.task.status.${task.status}`) }}</small>
              <small v-if="task.description" class="text-body-secondary">{{
                task.description
              }}</small>
            </div>
          </div>
        </li>
      </ul>
    </template>
  </div>
</template>
