<script setup lang="ts">
import { computed, watch } from 'vue';
import { ExecutionRepository } from '@/stores/execution.repo';
import { useRepo } from 'pinia-orm';

const props = defineProps({
  id: {
    required: true,
    type: String,
  },
});

const execution = computed(() => useRepo(ExecutionRepository).where('id', props.id).first());

watch(
  () => props.id,
  (newValue) => {
    useRepo(ExecutionRepository).fetchExecutionSummary(newValue);
  },
  { immediate: true },
);
</script>

<template>
  <!-- eslint-disable vue/no-v-html -->
  <div v-html="execution.summary"></div>
</template>
