<script setup lang="ts">
import { GroupRepository } from '@/stores/group.repo';
import { ref } from 'vue';
import { useRepo } from 'pinia-orm';

const groupForm = ref({
  codename: '',
  name: '',
});

const onSubmit = (data) => {
  useRepo(GroupRepository).pushGroup(data);
};
</script>

<template>
  <GroupForm v-model="groupForm" @on-submit="onSubmit(groupForm)" />
</template>
