<script setup lang="ts">
import { computed, watch } from 'vue';
import { GroupRepository } from '@/stores/group.repo';
import { useRepo } from 'pinia-orm';

const props = defineProps({
  codename: {
    required: true,
    type: String,
  },
});
const group = computed(() => useRepo(GroupRepository).where('codename', props.codename).first());

watch(
  () => props.codename,
  (newValue) => {
    useRepo(GroupRepository).fetchGroup(newValue);
  },
  { immediate: true },
);
</script>

<template>
  <template v-if="group">
    <div class="container d-flex flex-column">
      <div class="row g-0">
        <div class="col">
          <h4 class="p-4 text-center">{{ group.name }}</h4>
        </div>
      </div>

      <nav class="nav nav-underline nav-justified flex-nowrap overflow-x-scroll">
        <router-link
          class="nav-link"
          :class="[$route.name === 'groups-item-executions' ? 'active' : '']"
          :to="{
            name: 'groups-item-executions',
          }"
          >{{ $t('groupsDashboard.items.tabs.executions') }}</router-link
        >
        <router-link
          class="nav-link"
          :class="[$route.name === 'groups-item-assigned-tasks' ? 'active' : '']"
          :to="{
            name: 'groups-item-assigned-tasks',
          }"
          >{{ $t('groupsDashboard.items.tabs.assignedTasks') }}</router-link
        >
        <router-link
          class="nav-link"
          :class="[$route.name === 'groups-item-solved-tasks' ? 'active' : '']"
          :to="{
            name: 'groups-item-solved-tasks',
          }"
          >{{ $t('groupsDashboard.items.tabs.solvedTasks') }}</router-link
        >
        <router-link
          class="nav-link"
          :class="[$route.name === 'groups-item-users' ? 'active' : '']"
          :to="{
            name: 'groups-item-users',
          }"
          >{{ $t('groupsDashboard.items.tabs.users') }}</router-link
        >
        <router-link
          class="nav-link"
          :class="[$route.name === 'groups-item-permissions' ? 'active' : '']"
          :to="{
            name: 'groups-item-permissions',
          }"
          >{{ $t('groupsDashboard.items.tabs.permissions') }}</router-link
        >
      </nav>

      <RouterView />
    </div>
  </template>
</template>
