<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import { ExecutionRepository } from '@/stores/execution.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 25;

const initialStatus = ['ongoing'];

const searchForm = ref({
  searchQuery: '',
  startedAtDateGe: '',
  startedAtDateLe: '',
  statusIn: initialStatus,
});

const availableStatus = [
  {
    text: 'ongoing',
    value: ['ongoing'],
  },
  {
    text: 'finished',
    value: ['finished'],
  },
  {
    text: 'cancelled',
    value: ['cancelled'],
  },
  {
    text: 'any',
    value: ['ongoing', 'finished', 'cancelled'],
  },
];

const props = defineProps({
  codename: {
    required: true,
    type: String,
  },
});

const results = ref([]);
const executions = computed(() =>
  useRepo(ExecutionRepository)
    .where((item) => results.value.includes(item.id))
    .orderBy((item) => item.startedAt.toISOString(), 'desc')
    .get(),
);

const onReset = () => {
  searchForm.value.searchQuery = '';
  searchForm.value.startedAtDateGe = '';
  searchForm.value.startedAtDateLe = '';
  searchForm.value.statusIn = initialStatus;
};

const onSubmit = () => {
  results.value = [];
  useRepo(ExecutionRepository)
    .fetchExecutions({
      ...searchForm.value,
      limit: pageSize,
      tasksActorsGroupsCodenameEq: props.codename,
    })
    .then((items) => {
      results.value = items.map((item) => item.id);
    });
};

const onLoadMore = () => {
  const lastItemIndex = -1;
  useRepo(ExecutionRepository)
    .fetchExecutions({
      ...searchForm.value,
      limit: pageSize,
      startedAtLt: executions.value.at(lastItemIndex).startedAt.toISOString(),
      tasksActorsGroupsCodenameEq: props.codename,
    })
    .then((items) => {
      results.value.push(...items.map((item) => item.id));
    });
};

onMounted(() => {
  onSubmit();
});
</script>

<template>
  <ExecutionSearchForm
    v-model="searchForm"
    class="mb-1"
    :available-status="availableStatus"
    @on-submit="onSubmit"
    @on-reset="onReset"
  />

  <ul class="list-group list-group-flush">
    <ExecutionsListGroupItem
      v-for="execution in executions"
      :key="execution.id"
      :execution="execution"
    />
  </ul>

  <ul class="list-group list-group-flush">
    <button type="button" class="btn btn-secondary w-100" @click="onLoadMore">
      <font-awesome-icon icon="fa-solid fa-angle-down" />
    </button>
  </ul>
</template>
