<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import { GroupRepository } from '@/stores/group.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 25;

const searchForm = ref({
  searchQuery: '',
});

const results = ref([]);
const groups = computed(() =>
  useRepo(GroupRepository)
    .where((item) => results.value.includes(item.codename))
    .orderBy((group) => group.name.toLowerCase(), 'asc')
    .get(),
);

const onReset = () => {
  searchForm.value.searchQuery = '';
};

const onSubmit = () => {
  results.value = [];
  useRepo(GroupRepository)
    .fetchAll({
      ...searchForm.value,
      limit: pageSize,
    })
    .then((items) => {
      results.value = items;
    });
};

const onLoadMore = () => {
  useRepo(GroupRepository)
    .fetchAll({
      ...searchForm.value,
      limit: pageSize,
      offset: groups.value.length,
    })
    .then((items) => {
      results.value.push(...items);
    });
};

onMounted(() => {
  onSubmit();
});
</script>

<template>
  <GroupSearchForm v-model="searchForm" class="pb-1" @on-submit="onSubmit" @on-reset="onReset" />

  <ul class="list-group list-group-flush">
    <router-link
      v-for="group in groups"
      :key="group.codename"
      :to="{
        name: 'groups-item',
        params: {
          codename: group.codename,
        },
      }"
      class="list-group-item list-group-item-action"
    >
      <div class="row g-0">
        <h5 class="mb-1 col-12 col-md-10 text-truncate">
          {{ group.name }}
        </h5>
        <small class="col-12 col-md-2 text-end text-truncate">{{ group.codename }}</small>
      </div>

      <div class="row g-0">
        <div class="col text-body-secondary">
          <font-awesome-icon icon="fa-solid fa-users" size="sm" />
          {{ group.userCount }} users
        </div>
      </div>
    </router-link>
  </ul>

  <ul class="list-group list-group-flush">
    <button type="button" class="btn btn-secondary w-100" @click="onLoadMore">
      <font-awesome-icon icon="fa-solid fa-angle-down" />
    </button>
  </ul>
</template>
