<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import { TaskRepository } from '@/stores/task.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 25;

const initialStatus = ['ongoing'];

const searchForm = ref({
  searchQuery: '',
  startedAtGe: '',
  startedAtLe: '',
  statusIn: initialStatus,
});

const availableStatus = [
  {
    text: 'ongoing',
    value: ['ongoing'],
  },
  {
    text: 'finished',
    value: ['finished'],
  },
  {
    text: 'cancelled',
    value: ['cancelled'],
  },
  {
    text: 'any',
    value: ['ongoing', 'finished', 'cancelled'],
  },
];

const results = ref([]);
const tasks = computed(() =>
  useRepo(TaskRepository)
    .where((item) => results.value.includes(item.id))
    .orderBy((item) => item.startedAt.toISOString(), 'desc')
    .get(),
);

const onReset = () => {
  searchForm.value.searchQuery = '';
  searchForm.value.startedAtGe = '';
  searchForm.value.startedAtLe = '';
  searchForm.value.statusIn = initialStatus;
};

const onSubmit = () => {
  results.value = [];
  useRepo(TaskRepository)
    .fetchTasks({
      ...searchForm.value,
      limit: pageSize,
    })
    .then((items) => {
      results.value = items.map((item) => item.id);
    });
};

const onLoadMore = () => {
  const lastItemIndex = -1;
  useRepo(TaskRepository)
    .fetchTasks({
      ...searchForm.value,
      limit: pageSize,
      startedAtLt: tasks.value.at(lastItemIndex).startedAt.toISOString(),
    })
    .then((items) => {
      results.value.push(...items.map((item) => item.id));
    });
};

onMounted(() => {
  onSubmit();
});
</script>

<template>
  <div class="container d-flex flex-column">
    <h4 class="col py-4 text-center">{{ $t('tasksDashboard.title') }}</h4>

    <TaskSearchForm
      v-model="searchForm"
      class="pb-1"
      :available-status="availableStatus"
      @on-submit="onSubmit"
      @on-reset="onReset"
    />

    <template v-if="tasks.length">
      <ul class="list-group list-group-flush">
        <TasksListGroupItem v-for="task in tasks" :key="task.id" :task="task" />
      </ul>

      <ul class="list-group list-group-flush">
        <button type="button" class="btn btn-secondary w-100" @click="onLoadMore">
          <font-awesome-icon icon="fa-solid fa-angle-down" />
        </button>
      </ul>
    </template>

    <span v-else>No items to show</span>
  </div>
</template>
