<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { TaskRepository } from '@/stores/task.repo';
import { getTaskForms } from '@/services/task.service';
import { marked } from 'marked';
import { useRepo } from 'pinia-orm';

const fieldsets = ref([]);
const taskForm = ref({});

const props = defineProps({
  id: {
    required: true,
    type: String,
  },
});

const task = computed(() => useRepo(TaskRepository).where('id', props.id).first());

const buildForm = (fields, value) => {
  return Object.fromEntries(fields.map((key) => [key, value[key] || null]));
};

const addFieldset = (fieldsetId) => {
  taskForm.value[fieldsetId].push(
    buildForm(
      fieldsets.value.find(({ id }) => id === fieldsetId).fields.map((field) => field.id),
      {},
    ),
  );
};

const removeFieldset = (fieldsetId, index) => {
  const removalLength = 1;
  taskForm.value[fieldsetId].splice(index, removalLength);
};

const initializeForms = () => {
  taskForm.value = fieldsets.value.reduce(
    (acc, fieldset) => ({
      ...acc,
      [fieldset.id]: fieldset.values.map((value) =>
        buildForm(
          fieldset.fields.map((field) => field.id),
          value,
        ),
      ),
    }),
    {},
  );

  fieldsets.value.forEach((fieldset) => {
    const minimumValuesCount = fieldset.min_amount;
    const currentValuesCount = taskForm.value[fieldset.id].length;
    const missingValuesCount = minimumValuesCount - currentValuesCount;
    // eslint-disable-next-line no-plusplus
    for (let index = 0; index < missingValuesCount; index++) {
      addFieldset(fieldset.id);
    }
  });
};

watch(
  () => props.id,
  (newValue) => {
    useRepo(TaskRepository).fetchTask(newValue);
    getTaskForms(newValue).then(({ data }) => {
      fieldsets.value = data;
      initializeForms();
    });
  },
  { immediate: true },
);
</script>

<template>
  <div v-if="task">
    <div class="container">
      <div class="row">
        <div class="col">
          <!-- eslint-disable vue/no-v-html -->
          <h4 class="p-4 text-center" v-html="marked.parse(task.name)" />
          <small class="text-center">{{ task.id }}</small>
        </div>
      </div>

      <div class="row">
        <small class="col text-truncate">Started at {{ task.startedAt }}</small>
        <small v-if="task.finishedAt" class="col text-truncate"
          >Finished at {{ task.finishedAt }}</small
        >
      </div>
      <div class="row">
        <p>{{ $t(`commons.task.status.${task.status}`) }}</p>
        <p class="mb-1" v-html="marked.parse(task.description)" />
      </div>

      <div class="row">
        <div class="col">
          <TaskForm
            v-model="taskForm"
            :fieldsets="fieldsets"
            :disabled="task.status !== 'ongoing'"
            @add-fieldset="addFieldset"
            @remove-fieldset="removeFieldset"
          />
        </div>
      </div>
    </div>
  </div>
  <div v-else class="mt-auto mx-auto">
    <legend class="text-center">
      <font-awesome-icon icon="fa-solid fa-file-circle-question" class="me-2" size="2xl" />
      {{ $t('navigation.notFound') }}
    </legend>
  </div>
</template>
