<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import { UserRepository } from '@/stores/user.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 25;

const searchForm = ref({
  searchQuery: '',
});

const results = ref([]);
const users = computed(() =>
  useRepo(UserRepository)
    .where((item) => results.value.includes(item.username))
    .orderBy((item) => item.fullname.toLowerCase(), 'asc')
    .get(),
);

const onReset = () => {
  searchForm.value.searchQuery = '';
};

const onSubmit = () => {
  results.value = [];
  useRepo(UserRepository)
    .fetchUsers({
      ...searchForm.value,
      limit: pageSize,
    })
    .then((items) => {
      results.value = items.map((item) => item.username);
    });
};

const onLoadMore = () => {
  useRepo(UserRepository)
    .fetchUsers({
      ...searchForm.value,
      limit: pageSize,
      offset: users.value.length,
    })
    .then((items) => {
      results.value.push(...items.map((item) => item.username));
    });
};

onMounted(() => {
  onSubmit();
});
</script>

<template>
  <UserSearchForm v-model="searchForm" class="pb-1" @on-submit="onSubmit" @on-reset="onReset" />

  <ul class="list-group list-group-flush">
    <UsersDashboardListItem v-for="user in users" :key="user.username" :user="user" />
  </ul>

  <ul class="list-group list-group-flush">
    <button type="button" class="btn btn-secondary w-100" @click="onLoadMore">
      <font-awesome-icon icon="fa-solid fa-angle-down" />
    </button>
  </ul>
</template>
