<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { PermissionRepository } from '@/stores/permission.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 25;

const searchForm = ref({
  searchQuery: '',
});

const props = defineProps({
  username: {
    required: true,
    type: String,
  },
});

const results = ref([]);
const permissions = computed(() =>
  useRepo(PermissionRepository)
    .where((item) => results.value.includes(item.codename))
    .orderBy((permission) => permission.name.toLowerCase(), 'asc')
    .get(),
);

const onReset = () => {
  searchForm.value.searchQuery = '';
};

const onSubmit = () => {
  results.value = [];
  useRepo(PermissionRepository)
    .fetchUserPermissions(props.username, {
      ...searchForm.value,
      limit: pageSize,
    })
    .then((items) => {
      results.value = items.map((item) => item.codename);
    });
};

const onLoadMore = () => {
  useRepo(PermissionRepository)
    .fetchUserPermissions(props.username, {
      ...searchForm.value,
      limit: pageSize,
      offset: permissions.value.length,
    })
    .then((items) => {
      results.value.push(...items.map((item) => item.codename));
    });
};

watch(
  () => props.username,
  () => {
    onSubmit();
  },
  { immediate: true },
);
</script>

<template>
  <PermissionSearchForm
    v-model="searchForm"
    class="pb-1"
    @on-submit="onSubmit"
    @on-reset="onReset"
  />

  <ul class="list-group list-group-flush">
    <div v-for="permission in permissions" :key="permission.codename" class="list-group-item">
      <div class="row g-0">
        <h5 class="mb-1 col-12 col-md-10 text-truncate">
          {{ permission.name }}
        </h5>
        <small class="col-12 col-md-2 text-end text-truncate">{{ permission.codename }}</small>
      </div>
    </div>
  </ul>

  <ul class="list-group list-group-flush">
    <button type="button" class="btn btn-secondary w-100" @click="onLoadMore">
      <font-awesome-icon icon="fa-solid fa-angle-down" />
    </button>
  </ul>
</template>
