<script setup lang="ts">
import { UserRepository } from '@/stores/user.repo';
import { ref } from 'vue';
import router from '@/router';
import { useRepo } from 'pinia-orm';

const userForm = ref({
  email: '',
  fullname: '',
  isActive: false,
  isAdmin: false,
  isStaff: false,
  isSuperuser: false,
  username: '',
});

const onReset = () => {
  userForm.value.email = '';
  userForm.value.fullname = '';
  userForm.value.isActive = false;
  userForm.value.isAdmin = false;
  userForm.value.isStaff = false;
  userForm.value.isSuperuser = false;
  userForm.value.username = '';
};

const onSubmit = (data) => {
  useRepo(UserRepository)
    .setUser(data.username, data)
    .then(() => {
      router.push({
        name: 'users-item',
        params: { username: data.username },
      });
    });
};
</script>

<template>
  <UserAddForm v-model="userForm" @on-submit="onSubmit(userForm)" @on-reset="onReset" />
</template>
