<script setup lang="ts">
import { computed, watch } from 'vue';
import { CategoryRepository } from '@/stores/category.repo';
import { UserRepository } from '@/stores/user.repo';
import { useRepo } from 'pinia-orm';

const categories = computed(() => useRepo(CategoryRepository).all());

const props = defineProps({
  categoryCodename: {
    default: null,
    required: false,
    type: String,
  },
  username: {
    default: null,
    required: true,
    type: String,
  },
});

const user = computed(() =>
  useRepo(UserRepository).with('quirks').where('username', props.username).first(),
);

watch(
  () => props.username,
  (newValue) => {
    useRepo(UserRepository).fetchUser(newValue);
    useRepo(CategoryRepository).fetchAll();
  },
  { immediate: true },
);
</script>

<template>
  <template v-if="user">
    <div class="container d-flex flex-column">
      <div class="row g-0">
        <div class="col offset-1 py-4 text-center">
          <h4>{{ user.fullname }}</h4>
          <span v-if="user.email">
            <a :href="`mailto:${encodeURIComponent(user.email)}`" class="icon-link">
              <font-awesome-icon icon="fa-regular fa-envelope" />
              <span>{{ user.email }}</span>
            </a>
          </span>
          <span v-else><br /></span>
        </div>

        <div class="col-1 m-auto">
          <router-link
            v-if="$route.name != 'users-item-edit'"
            :to="{
              name: 'users-item-edit',
            }"
          >
            <font-awesome-icon icon="fa-solid fa-pencil" size="2xl" />
          </router-link>
        </div>
      </div>

      <nav class="nav nav-underline nav-justified flex-nowrap overflow-x-scroll">
        <router-link
          class="nav-link"
          :class="[$route.name === 'users-item-assigned-tasks' ? 'active' : '']"
          :to="{
            name: 'users-item-assigned-tasks',
          }"
          >{{ $t('usersDashboard.items.tabs.assignedTasks') }}</router-link
        >
        <router-link
          class="nav-link"
          :class="[$route.name === 'users-item-solved-tasks' ? 'active' : '']"
          :to="{
            name: 'users-item-solved-tasks',
          }"
          >{{ $t('usersDashboard.items.tabs.solvedTasks') }}</router-link
        >
        <router-link
          class="nav-link"
          :class="[$route.name === 'users-item-groups' ? 'active' : '']"
          :to="{
            name: 'users-item-groups',
          }"
          >{{ $t('usersDashboard.items.tabs.groups') }}</router-link
        >
        <router-link
          v-for="category in categories"
          :key="category.codename"
          class="nav-link"
          :class="[
            $route.name === 'users-item-quirks' &&
            $route.params.categoryCodename === category.codename
              ? 'active'
              : '',
          ]"
          :to="{
            name: 'users-item-quirks',
            params: {
              categoryCodename: category.codename,
            },
          }"
          >{{ category.name }}</router-link
        >
        <router-link
          class="nav-link"
          :class="[$route.name === 'users-item-permissions' ? 'active' : '']"
          :to="{
            name: 'users-item-permissions',
          }"
          >{{ $t('usersDashboard.items.tabs.permissions') }}</router-link
        >
      </nav>

      <RouterView />
    </div>
  </template>
</template>
