<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { GroupRepository } from '@/stores/group.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 25;

const searchForm = ref({
  searchQuery: '',
});

const props = defineProps({
  username: {
    required: true,
    type: String,
  },
});

const results = ref([]);
const groups = computed(() =>
  useRepo(GroupRepository)
    .where((item) => results.value.includes(item.codename))
    .orderBy((group) => group.name.toLowerCase(), 'asc')
    .get(),
);

const onReset = () => {
  searchForm.value.searchQuery = '';
};

const onSubmit = () => {
  results.value = [];
  useRepo(GroupRepository)
    .fetchUserGroups(props.username, {
      ...searchForm.value,
      limit: pageSize,
    })
    .then((items) => {
      results.value = items.map((item) => item.codename);
    });
};

const onLoadMore = () => {
  useRepo(GroupRepository)
    .fetchUserGroups(props.username, {
      ...searchForm.value,
      limit: pageSize,
      offset: groups.value.length,
    })
    .then((items) => {
      results.value.push(...items.map((item) => item.codename));
    });
};

watch(
  () => props.username,
  () => {
    onSubmit();
  },
  { immediate: true },
);
</script>

<template>
  <GroupSearchForm v-model="searchForm" class="mb-1" @on-submit="onSubmit" @on-reset="onReset" />

  <ul class="list-group list-group-flush">
    <router-link
      v-for="group in groups"
      :key="group.codename"
      :to="{
        name: 'groups-item',
        params: {
          codename: group.codename,
        },
      }"
      class="list-group-item list-group-item-action"
    >
      <div class="container">
        <div class="row">
          <h5 class="mb-1 col-12 col-md-10 text-truncate">
            {{ group.name }}
          </h5>
          <small class="col text-end text-truncate">{{ group.codename }}</small>
        </div>

        <div class="row g-0">
          <div class="col text-body-secondary">
            <font-awesome-icon icon="fa-solid fa-users" size="sm" />
            {{ group.userCount }} users
          </div>
        </div>
      </div>
    </router-link>
  </ul>

  <ul class="list-group list-group-flush">
    <button type="button" class="btn btn-secondary w-100" @click="onLoadMore">
      <font-awesome-icon icon="fa-solid fa-angle-down" />
    </button>
  </ul>
</template>
