<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { TaskRepository } from '@/stores/task.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 25;

const initialStatus = ['finished'];

const searchForm = ref({
  searchQuery: '',
  startedAtDateGe: '',
  startedAtDateLe: '',
  statusIn: initialStatus,
});

const availableStatus = [
  {
    text: 'finished',
    value: ['finished'],
  },
  {
    text: 'cancelled',
    value: ['cancelled'],
  },
  {
    text: 'any',
    value: ['finished', 'cancelled'],
  },
];

const props = defineProps({
  username: {
    required: true,
    type: String,
  },
});

const results = ref([]);
const tasks = computed(() =>
  useRepo(TaskRepository)
    .where((item) => results.value.includes(item.id))
    .orderBy((item) => item.startedAt.toISOString(), 'desc')
    .get(),
);

const onReset = () => {
  searchForm.value.searchQuery = '';
  searchForm.value.startedAtDateGe = '';
  searchForm.value.startedAtDateLe = '';
  searchForm.value.statusIn = initialStatus;
};

const onSubmit = () => {
  results.value = [];
  useRepo(TaskRepository)
    .fetchUserSolvedTasks(props.username, {
      ...searchForm.value,
      limit: pageSize,
    })
    .then((items) => {
      results.value = items.map((item) => item.id);
    });
};

const onLoadMore = () => {
  const lastItemIndex = -1;
  useRepo(TaskRepository)
    .fetchUserSolvedTasks(props.username, {
      ...searchForm.value,
      limit: pageSize,
      startedAtLt: tasks.value.at(lastItemIndex).startedAt.toISOString(),
    })
    .then((items) => {
      results.value.push(...items.map((item) => item.id));
    });
};

watch(
  () => props.username,
  () => onSubmit(),
  { immediate: true },
);
</script>

<template>
  <TaskSearchForm
    v-model="searchForm"
    class="mb-1"
    :available-status="availableStatus"
    @on-submit="onSubmit"
    @on-reset="onReset"
  />

  <ul class="list-group list-group-flush">
    <TasksListGroupItem v-for="task in tasks" :key="task.id" :task="task" />
  </ul>

  <ul class="list-group list-group-flush">
    <button type="button" class="btn btn-secondary w-100" @click="onLoadMore">
      <font-awesome-icon icon="fa-solid fa-angle-down" />
    </button>
  </ul>
</template>
