<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { QuirkRepository } from '@/stores/quirk.repo';
import { useRepo } from 'pinia-orm';

const pageSize = 25;

const searchForm = ref({
  searchQuery: '',
});

const props = defineProps({
  categoryCodename: {
    required: true,
    type: String,
  },
  username: {
    required: true,
    type: String,
  },
});

const results = ref([]);
const quirks = computed(() =>
  useRepo(QuirkRepository)
    .where((item) => results.value.includes(item.pk))
    .orderBy((quirk) => quirk.name.toLowerCase(), 'asc')
    .get(),
);

const onReset = () => {
  searchForm.value.searchQuery = '';
};

const onSubmit = () => {
  results.value = [];
  useRepo(QuirkRepository)
    .fetchUserQuirks(props.username, props.categoryCodename, {
      ...searchForm.value,
      limit: pageSize,
    })
    .then((items) => {
      results.value = items.map((item) => item.pk);
    });
};

const onLoadMore = () => {
  useRepo(QuirkRepository)
    .fetchUserQuirks(props.username, props.categoryCodename, {
      ...searchForm.value,
      limit: pageSize,
      offset: quirks.value.length,
    })
    .then((items) => {
      results.value.push(...items.map((item) => item.pk));
    });
};

watch(
  () => props.username,
  () => {
    onSubmit();
  },
  { immediate: true },
);

watch(
  () => props.categoryCodename,
  () => {
    onReset();
    onSubmit();
  },
  { immediate: true },
);
</script>

<template>
  <QuirkSearchForm v-model="searchForm" class="mb-1" @on-submit="onSubmit" @on-reset="onReset" />

  <ul class="list-group list-group-flush">
    <div v-for="quirk in quirks" :key="quirk.pk" class="list-group-item">
      <div class="container">
        <div class="row">
          <h5 class="mb-1 col-12 col-md-10 text-truncate">
            {{ quirk.name }}
          </h5>
          <small class="col text-end text-truncate">{{ quirk.codename }}</small>
        </div>
      </div>
    </div>
  </ul>

  <ul class="list-group list-group-flush">
    <button type="button" class="btn btn-secondary w-100" @click="onLoadMore">
      <font-awesome-icon icon="fa-solid fa-angle-down" />
    </button>
  </ul>
</template>
