<script setup lang="ts">
import { computed } from 'vue';

const emit = defineEmits(['onSubmit', 'update:modelValue']);

const props = defineProps({
  modelValue: {
    required: true,
    type: Object,
  },
});

const quirkForm = computed({
  get: () => props.modelValue,
  set: (value) => {
    emit('update:modelValue', value);
  },
});
</script>

<template>
  <form @submit.prevent="$emit('onSubmit', quirkForm)">
    <fieldset>
      <div class="mb-3">
        <label for="quirk-codename" class="form-label">{{ $t('commons.quirk.codename') }}</label>
        <input id="quirk-codename" v-model="quirkForm.codename" type="text" class="form-control" />
      </div>

      <div class="mb-3">
        <label for="quirk-name" class="form-label">{{ $t('commons.quirk.name') }}</label>
        <input id="quirk-name" v-model="quirkForm.name" type="text" class="form-control" />
      </div>

      <button type="submit" class="btn btn-primary w-100">
        {{ $t('account.login.submit') }}
      </button>
    </fieldset>
  </form>
</template>
