<script setup lang="ts">
import { computed } from 'vue';

const emit = defineEmits(['onSubmit', 'update:modelValue']);

const props = defineProps({
  modelValue: {
    required: true,
    type: Object,
  },
});

const categoryForm = computed({
  get: () => props.modelValue,
  set: (value) => {
    emit('update:modelValue', value);
  },
});
</script>

<template>
  <form @submit.prevent="$emit('onSubmit', categoryForm)">
    <fieldset>
      <div class="mb-3">
        <label for="category-codename" class="form-label">{{
          $t('commons.category.codename')
        }}</label>
        <input
          id="category-codename"
          v-model="categoryForm.codename"
          type="text"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="category-name" class="form-label">{{ $t('commons.category.name') }}</label>
        <input id="category-name" v-model="categoryForm.name" type="text" class="form-control" />
      </div>

      <button type="submit" class="btn btn-primary w-100">
        {{ $t('account.login.submit') }}
      </button>
    </fieldset>
  </form>
</template>
