<script setup lang="ts">
import { computed } from 'vue';

const emit = defineEmits(['onSubmit', 'update:modelValue']);

const props = defineProps({
  modelValue: {
    required: true,
    type: Object,
  },
});

const groupForm = computed({
  get: () => props.modelValue,
  set: (value) => {
    emit('update:modelValue', value);
  },
});
</script>

<template>
  <form @submit.prevent="$emit('onSubmit', groupForm)">
    <fieldset>
      <div class="mb-3">
        <label for="group-codename" class="form-label">{{ $t('commons.group.codename') }}</label>
        <input id="group-codename" v-model="groupForm.codename" type="text" class="form-control" />
      </div>

      <div class="mb-3">
        <label for="group-name" class="form-label">{{ $t('commons.group.name') }}</label>
        <input id="group-name" v-model="groupForm.name" type="text" class="form-control" />
      </div>

      <button type="submit" class="btn btn-primary w-100">
        {{ $t('account.login.submit') }}
      </button>
    </fieldset>
  </form>
</template>
