<script setup lang="ts">
import { computed } from 'vue';

const emit = defineEmits(['onSubmit', 'onReset', 'update:modelView']);

const props = defineProps({
  modelValue: {
    required: true,
    type: Object,
  },
});

const searchForm = computed({
  get: () => props.modelValue,
  set: (value) => {
    emit('update:modelView', value);
  },
});
</script>

<template>
  <div class="container g-0">
    <form @submit.prevent="$emit('onSubmit')" @reset.prevent="$emit('onReset')">
      <fieldset class="row align-items-center g-2">
        <div class="col-12">
          <div class="input-group">
            <div class="form-floating">
              <input
                v-model.trim="searchForm.searchQuery"
                type="text"
                class="form-control"
                :placeholder="'Search'"
              />
              <label>{{ 'Search' }}</label>
            </div>
          </div>
        </div>

        <div class="col-12 text-end">
          <button type="reset" class="btn btn-secondary btn-sm me-1">
            {{ $t('commons.form.reset') }}
          </button>
          <button type="submit" class="btn btn-primary btn-sm">
            {{ $t('commons.form.search') }}
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</template>
