<script setup lang="ts">
defineEmits(['setLocale']);

defineProps({
  locale: {
    required: true,
    type: String,
  },
  locales: {
    required: true,
    type: Array,
  },
});
</script>

<template>
  <footer class="bg-secondary text-center text-lg-start footer mt-auto">
    <div class="py-2 px-3 d-flex justify-content-end">
      <a
        v-for="option in locales"
        :key="option"
        href="javascript:void(0);"
        class="mx-1"
        :class="[locale === option ? 'link-info-emphasis' : 'link-info']"
        :disabled="locale === option"
        @click="$emit('setLocale', option)"
        >{{ option }}</a
      >
    </div>
  </footer>
</template>
