<script setup lang="ts">
import { onMounted, reactive } from 'vue';
import { Offcanvas } from 'bootstrap';

const siteTitle = import.meta.env.VITE_SITE_TITLE;

const emit = defineEmits(['onLogout']);

defineProps({
  user: {
    required: true,
    type: Object,
  },
});

const localState = reactive({
  offcanvas: null,
});

const hideOffcanvas = () => {
  localState.offcanvas.hide();
};

const onLogout = () => {
  emit('onLogout');
  hideOffcanvas();
};

onMounted(() => {
  localState.offcanvas = new Offcanvas('#offcanvasNavbar', {});
});
</script>

<template>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <router-link class="navbar-brand" :to="{ name: 'home' }">{{ siteTitle }}</router-link>

      <div
        id="offcanvasNavbar"
        class="offcanvas offcanvas-start"
        tabindex="-1"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 id="offcanvasNavbarLabel" class="offcanvas-title">{{ siteTitle }}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <button
                id="trackingDropdown"
                class="nav-link btn btn-link dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ $t('header.tracking') }}
              </button>
              <ul class="dropdown-menu mt-0" aria-labelledby="trackingDropdown">
                <li>
                  <router-link
                    class="dropdown-item"
                    :to="{
                      name: 'executions-dashboard',
                    }"
                    @click="hideOffcanvas"
                    >{{ $t('header.executions') }}</router-link
                  >
                </li>
                <li>
                  <router-link
                    class="dropdown-item"
                    :to="{
                      name: 'tasks-dashboard',
                    }"
                    @click="hideOffcanvas"
                    >{{ $t('header.tasks') }}</router-link
                  >
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <button
                id="adminDropdown"
                class="nav-link btn btn-link dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ $t('header.administration') }}
              </button>
              <ul class="dropdown-menu mt-0" aria-labelledby="adminDropdown">
                <li>
                  <router-link
                    class="dropdown-item"
                    :to="{
                      name: 'users-dashboard',
                    }"
                    @click="hideOffcanvas"
                    >{{ $t('header.users') }}</router-link
                  >
                </li>
                <li>
                  <router-link
                    class="dropdown-item"
                    :to="{
                      name: 'groups-dashboard',
                    }"
                    @click="hideOffcanvas"
                    >{{ $t('header.groups') }}</router-link
                  >
                </li>
                <li>
                  <router-link
                    class="dropdown-item"
                    :to="{
                      name: 'categories-dashboard',
                    }"
                    @click="hideOffcanvas"
                    >{{ $t('header.categories') }}</router-link
                  >
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <button
                id="userDropdown"
                class="nav-link btn btn-link dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ user.fullname }}
              </button>
              <ul class="dropdown-menu mt-0" aria-labelledby="userDropdown">
                <li>
                  <router-link
                    class="dropdown-item"
                    :to="{
                      name: 'users-item',
                      params: {
                        username: user.username,
                      },
                    }"
                    @click="hideOffcanvas"
                    >{{ $t('header.myProfile') }}</router-link
                  >
                </li>
                <li>
                  <button class="dropdown-item" type="button" @click="onLogout">
                    {{ $t('header.logout') }}
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>

<style lang="scss" scoped></style>
