<script setup lang="ts">
import { marked } from 'marked';
import { ref } from 'vue';

const truncateTitle = ref(true);
defineProps({
  task: {
    required: true,
    type: Object,
  },
});
</script>

<template>
  <div class="list-group-item px-0">
    <div class="row g-0">
      <div class="mb-1 col-12 col-md-10 fw-bold d-flex">
        <button
          type="button"
          class="btn btn-link btn-sm link-body-emphasis"
          @click="truncateTitle = !truncateTitle"
        >
          <template v-if="truncateTitle">
            <font-awesome-icon class="me-1" icon="fa-solid fa-angle-down" size="sm" />
          </template>
          <template v-else>
            <font-awesome-icon class="me-1" icon="fa-solid fa-angle-up" size="sm" />
          </template>
        </button>
        <router-link
          class="link-body-emphasis w-100"
          :to="{
            name: 'tasks-item',
            params: {
              id: task.id,
            },
          }"
        >
          <text-clamp
            :text="task.name"
            :max-lines="1"
            :expanded="!truncateTitle"
            :auto-resize="true"
          >
            <template #before>
              <font-awesome-icon icon="fa-solid fa-pen-to-square" class="me-1" />
            </template>
          </text-clamp>
        </router-link>
      </div>
      <small class="col-12 col-md-2 text-end text-truncate">{{ task.id }}</small>
    </div>
    <div class="row g-0">
      <small class="col text-start text-truncate">Started at {{ task.startedAt }}</small>
      <small v-if="task.finishedAt" class="col text-end text-truncate"
        >Finished at {{ task.finishedAt }}</small
      >
    </div>
    <div class="row g-0">
      <small>{{ $t(`commons.task.status.${task.status}`) }}</small>
      <!-- eslint-disable vue/no-v-html -->
      <small
        v-if="task.description"
        class="text-body-secondary"
        v-html="marked.parse(task.description)"
      />
    </div>
  </div>
</template>
