<script setup lang="ts">
const model = defineModel({ type: [String, null] });

defineProps({
  field: {
    required: true,
    type: Object,
  },
});
</script>

<template>
  <div class="mb-3 form-floating">
    <input v-model="model" type="date" class="form-control" placeholder="" />
    <label class="form-label">{{ field.label }}</label>
  </div>
</template>
