<script setup lang="ts">
// eslint-disable-next-line vue/require-prop-types
const model = defineModel();

defineProps({
  field: {
    required: true,
    type: Object,
  },
});
</script>

<template>
  <div class="mb-3 form-floating">
    <input
      v-model="model"
      class="form-control"
      :readonly="field.permission === 'read_only'"
      :disabled="field.permission === 'read_only'"
      :placeholder="field.label"
    />
    <label class="form-label">{{ field.label }}</label>
  </div>
</template>
