<script setup lang="ts">
import { computed, onMounted, reactive, ref } from 'vue';
import { Collapse } from 'bootstrap';
import { useI18n } from 'vue-i18n';

const emit = defineEmits(['onSubmit', 'onReset', 'update:modelView']);

const showControls = ref(false);

const props = defineProps({
  availableStatus: {
    required: true,
    type: Array,
  },
  modelValue: {
    required: true,
    type: Object,
  },
});

const localState = reactive({
  collapse: null,
});

const searchForm = computed({
  get: () => props.modelValue,
  set: (value) => {
    emit('update:modelView', value);
  },
});

const clearableForm = computed(
  () =>
    searchForm.value.searchQuery ||
    searchForm.value.startedAtDateGe ||
    searchForm.value.startedAtDateLe,
);

const toggleCollapsable = () => {
  localState.collapse.toggle();
  showControls.value = !showControls.value;
};

const hideCollapsable = () => {
  localState.collapse.hide();
  showControls.value = false;
};

const currentSearch = computed(() =>
  props.availableStatus.find(
    (item) =>
      item.value.length === searchForm.value.statusIn.length &&
      item.value.every((element, index) => element === searchForm.value.statusIn[index]),
  ),
);

const searchQueryPlaceholder = computed(() => {
  const prefix = useI18n().t('commons.task.search.searchIn');
  const statusMsg = useI18n().t(`commons.task.status.${currentSearch.value.text}`);
  return `${prefix} "${statusMsg}"`;
});

const onSubmit = () => {
  hideCollapsable();
  emit('onSubmit');
};

onMounted(() => {
  localState.collapse = new Collapse('#collapsableControls', { toggle: showControls.value });
});
</script>

<template>
  <div class="container g-0">
    <form @submit.prevent="onSubmit" @reset.prevent="$emit('onReset')">
      <fieldset class="row align-items-center g-2">
        <div class="col-12">
          <div class="input-group">
            <div class="form-floating">
              <input
                v-model.trim="searchForm.searchQuery"
                type="text"
                class="form-control"
                :placeholder="searchQueryPlaceholder"
              />
              <label>{{ searchQueryPlaceholder }}</label>
            </div>

            <button
              :class="{ active: showControls }"
              class="btn btn-outline-secondary"
              type="button"
              aria-expanded="false"
              aria-controls="collapsableControls"
              @click="toggleCollapsable"
            >
              <font-awesome-icon icon="fa-solid fa-sliders" />
            </button>
          </div>
        </div>

        <div id="collapsableControls" class="collapse col-12">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-floating">
                <select v-model="searchForm.statusIn" class="form-select">
                  <option
                    v-for="(statusOption, index) in availableStatus"
                    :key="index"
                    :selected="searchForm.statusIn == statusOption.value"
                    :value="statusOption.value"
                  >
                    {{ $t('commons.task.status.' + statusOption.text) }}
                  </option>
                </select>
                <label class="fs-6">Current status</label>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="form-floating">
                <input
                  v-model="searchForm.startedAtDateGe"
                  type="date"
                  class="form-control"
                  placeholder="MM/DD/YYYY"
                />
                <label class="fs-6">Started from</label>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="form-floating">
                <input
                  v-model="searchForm.startedAtDateLe"
                  type="date"
                  class="form-control"
                  placeholder="MM/DD/YYYY"
                />
                <label class="fs-6">Started until</label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 text-end">
          <button type="reset" class="btn btn-secondary btn-sm me-1">
            {{ $t('commons.form.reset') }}
          </button>
          <button type="submit" class="btn btn-primary btn-sm">
            {{ $t('commons.form.search') }}
          </button>
        </div>
      </fieldset>
    </form>

    <div class="row g-0">
      <div class="col">
        <div v-if="clearableForm && !showControls" class="col-12">
          <span v-if="searchForm.startedAtDateGe" class="badge rounded-pill text-bg-secondary mx-1"
            >Started after {{ searchForm.startedAtDateGe }}</span
          >
          <span v-if="searchForm.startedAtDateLe" class="badge rounded-pill text-bg-secondary mx-1"
            >Started before {{ searchForm.startedAtDateLe }}</span
          >
        </div>
      </div>
    </div>
  </div>
</template>
