<script setup lang="ts">
defineEmits(['addFieldset', 'removeFieldset']);
defineProps({
  disabled: {
    default: false,
    required: false,
    type: Boolean,
  },
  fieldsets: {
    required: true,
    type: Array,
  },
});

const model = defineModel({ type: Object });

const getFieldsetLegend = (index, fieldset) => {
  const fieldsetLegend = fieldset.label || 'Untitled form';

  // eslint-disable-next-line no-magic-numbers
  if (fieldset.min_amount === 1 && fieldset.max_amount === 1) {
    return fieldsetLegend;
  }
  return `${fieldsetLegend} (${index})`;
};

const getFieldComponent = (widget) => {
  switch (widget) {
    case 'checkboxselectmultiple':
      return 'TaskFormCheckboxSelectMultipleInput';
    case 'date':
      return 'TaskFormDateInput';
    case 'file':
      return 'TaskFormFileInput';
    case 'number':
      return 'TaskFormNumberInput';
    case 'radioselect':
      return 'TaskFormRadioSelectInput';
    case 'select':
      return 'TaskFormSelectInput';
    default:
      return 'TaskFormTextInput';
  }
};
</script>

<template>
  <form>
    <fieldset
      v-for="(fieldset, fieldsetIndex) in fieldsets"
      :key="fieldset.id"
      :disabled="disabled"
    >
      <div v-for="(_, valueIndex) in model[fieldset.id]" :key="valueIndex" class="mb-3">
        <legend class="text-end lh-1 fs-5" :title="fieldset.id">
          <span>{{ getFieldsetLegend(valueIndex + 1, fieldset) }}</span>
          <br />
          <span class="fs-6 text-body-secondary">{{ fieldset.id }}</span>
        </legend>

        <template v-for="(field, fieldIndex) in fieldset.fields" :key="fieldIndex">
          <component
            :is="getFieldComponent(field.widget)"
            v-model="model[fieldset.id][valueIndex][field.id]"
            :field="field"
          />
        </template>

        <div v-if="!disabled" class="text-end">
          <button
            v-if="fieldset.min_amount < model[fieldset.id].length"
            class="btn btn-secondary btn-sm"
            @click.prevent="$emit('removeFieldset', fieldset.id, valueIndex)"
          >
            <font-awesome-icon class="me-1" icon="fa-solid fa-trash-can" size="sm" />
            <span>Remove {{ getFieldsetLegend(valueIndex + 1, fieldset) }}</span>
          </button>
        </div>
      </div>

      <div v-if="!disabled" class="text-center">
        <button
          v-if="model[fieldset.id].length < fieldset.max_amount"
          class="btn btn-primary btn-sm"
          @click.prevent="$emit('addFieldset', fieldset.id)"
        >
          <font-awesome-icon class="me-1" icon="fa-solid fa-plus" size="sm" />
          <span>Add {{ fieldset.label || 'Untitled form' }}</span>
        </button>
      </div>

      <hr v-if="fieldsetIndex !== fieldsets.length - 1" class="my-4" />
    </fieldset>
  </form>
</template>
