<script setup lang="ts">
const model = defineModel({ type: [String, Number, null] });

defineProps({
  field: {
    required: true,
    type: Object,
  },
});
</script>

<template>
  <div class="mb-3 form-floating">
    <select v-model="model" class="form-select">
      <option :value="null">Select an option</option>
      <option v-for="choice in field.choices" :key="choice.value" :value="choice.value">
        {{ choice.label }}
      </option>
    </select>
    <label class="form-label">{{ field.label }}</label>
  </div>
</template>
