<script setup lang="ts">
defineModel({ type: [Object, null] });

defineProps({
  field: {
    required: true,
    type: Object,
  },
});
</script>

<template>
  <div class="mb-3">
    <label class="form-label">{{ field.label }}</label>
    <input type="file" class="form-control" placeholder="" />
  </div>
</template>
