<script setup lang="ts">
const model = defineModel({ type: [String, Number, null] });

defineProps({
  field: {
    required: true,
    type: Object,
  },
});
</script>

<template>
  <div class="mb-3">
    <label class="form-label">{{ field.label }}</label>
    <div v-for="choice in field.choices" :key="choice.value" class="form-check">
      <input
        v-model="model"
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        :value="choice.value"
      />
      <label class="form-check-label">{{ choice.label }}</label>
    </div>
  </div>
</template>
