<script setup lang="ts">
import { computed } from 'vue';

const emit = defineEmits(['onSubmit', 'onReset', 'update:modelValue']);

const props = defineProps({
  modelValue: {
    required: true,
    type: Object,
  },
});

const userForm = computed({
  get: () => props.modelValue,
  set: (value) => {
    emit('update:modelValue', value);
  },
});
</script>

<template>
  <form @submit.prevent="$emit('onSubmit', userForm)" @reset.prevent="$emit('onReset')">
    <fieldset>
      <div class="form-floating mb-3">
        <input
          id="user-username"
          v-model="userForm.username"
          type="text"
          class="form-control-plaintext"
          placeholder="$t('commons.user.username')"
          readonly
        />
        <label for="user-username" class="form-label">{{ $t('commons.user.username') }}</label>
      </div>

      <div class="form-floating mb-3">
        <input
          id="user-fullname"
          v-model="userForm.fullname"
          type="text"
          class="form-control"
          placeholder="$t('commons.user.fullname')"
        />
        <label for="user-fullname" class="form-label">{{ $t('commons.user.fullname') }}</label>
      </div>

      <div class="form-floating mb-3">
        <input
          id="user-email"
          v-model="userForm.email"
          type="text"
          class="form-control"
          placeholder="$('commons.user.email')"
        />
        <label for="user-email" class="form-label">{{ $t('commons.user.email') }}</label>
      </div>

      <div class="form-check form-switch mb-3">
        <input
          id="user-isactive"
          v-model="userForm.isActive"
          class="form-check-input"
          type="checkbox"
          role="switch"
        />
        <label class="form-check-label" for="user-isactive">{{
          $t('commons.user.isActive')
        }}</label>
      </div>

      <div class="form-check form-switch mb-3">
        <input
          id="user-issuperuser"
          v-model="userForm.isSuperuser"
          class="form-check-input"
          type="checkbox"
          role="switch"
        />
        <label class="form-check-label" for="user-issuperuser">{{
          $t('commons.user.isSuperuser')
        }}</label>
      </div>

      <div class="form-check form-switch mb-3">
        <input
          id="user-isstaff"
          v-model="userForm.isStaff"
          class="form-check-input"
          type="checkbox"
          role="switch"
        />
        <label class="form-check-label" for="user-isstaff">{{ $t('commons.user.isStaff') }}</label>
      </div>

      <div class="form-check form-switch mb-3">
        <input
          id="user-isadmin"
          v-model="userForm.isAdmin"
          class="form-check-input"
          type="checkbox"
          role="switch"
        />
        <label class="form-check-label" for="user-isadmin">{{ $t('commons.user.isAdmin') }}</label>
      </div>

      <span class="float-end">
        <button type="reset" class="btn btn-secondary me-1">
          {{ $t('commons.form.reset') }}
        </button>

        <button type="submit" class="btn btn-primary">
          {{ $t('commons.form.submit') }}
        </button>
      </span>
    </fieldset>
  </form>
</template>
